TG_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
BITRIX_WEBHOOK_BASE=https://yourportal.bitrix24.ru/rest/1/yourtoken/
BITRIX_DEFAULT_RESPONSIBLE_ID=123
BITRIX_GROUP_ID=
BITRIX_PRIORITY=
BITRIX_PORTAL_BASE=https://yourportal.bitrix24.ru
ALLOWED_TG_USERS=111,222
UPLOAD_DIR=./uploads
LOG_LEVEL=INFO
